.line {
  margin: 0;
  user-select: none;
}

.line:hover {
  background-color: rgb(240,240,240);
}

.lineHighlight {
  background-color: rgb(238, 238, 153);
}

.lineSelectable {
  user-select: text;
}
